<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book a Reservation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1>Book a Reservation</h1>
        <form action="/book" method="post" class="reservation-form">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>
            
            <label for="datetime">Date and Time:</label>
            <input type="datetime-local" id="datetime" name="datetime" required><br><br>
            
            <label for="guests">Number of Guests:</label>
            <input type="number" id="guests" name="guests" required><br><br>
            
            <input type="submit" value="Book">
        </form>
    </div>
</body>
</html>
